*{
    background-image: url('/Icons/fill/Background\ Image.png');
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
height: 15vh;
display: flex;
justify-content: center;
align-items: center;
}

.navbar-content{
  width: 80vw; 
  height: 10vh; 

}

.email_phone_logo{
     height: 4vh;
     display: flex;
     color: white;
}

.email_phone{
    display: flex;
    width: 70%;
}

#phone{
    margin-left: 5vw;
}

.logo{
    display: flex;
    width: 30%;
    justify-content: flex-end;
}

#facebook,#twitter,#instagram{
    margin-right: 2vw;
}

.navbar-elements{
    display: flex;
    color: black; 
    background-color: white;
    background-image: none;
    font-size: 20px;
    align-items: center;
    height: 6vh;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

ul{
    display: flex;
    background-color: white;
    background-image: none;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

li{
    list-style: none;
    margin-left: 1vw;
    margin-right: 1vw;
    background-color: white;
    background-image: none;
}

a{
    background-color: white;
    background-image: none;
}

a:hover{
    text-decoration: underline;
    color: #5956E9;
}

button{
    height: 5vh;
    border-radius: 5px;
    background-color: #5956E9;
    color: white;
    width: 7vw;
    font-size: 15px;
}

img{
    background-color: transparent;
    background-image: none;
}

.section1{
    display: flex;
}

.image-border{
   height: 50vh;
   width: 40vw;
   border: 10px solid #5b5a9a;
   margin-top: 15vh;
   margin-left: 15vw;
}

.image-details{
 background-image: none;
 position: relative;
 right: 30vw;
 top: 20vh;
 background-color: white;
 height: 40vh;
 width: 40vw;
 padding: 1vw;
}

.image-details h3{
    background-image: none;
    color: #5956E9;
    font-weight: 700;
    font-size: x-large;
}

#content{
    background-color: white;
    background-image: none;
    margin-top: 2vh;
    font-weight: 400;
}

#download{
    font-size: 25px;
    font-weight: 600;
    background-color: white;
    background-image: none;
    margin-top: 2vh;
}

.image-details img{
    margin-top: 2vh;
}




